header {
    background-color: rgb(55, 55, 139);

  }

  #header-title {
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;   /* I am using this line and the line below to center
    this text since it worked for my nav */
    justify-content: space-evenly;
  }

  nav {
    background-color: rgb(245, 245, 245);
    height: auto;
    /* display:flex;
    align-items: end; */
  }

  .nav-button {
    padding: 10px 20px;
    background-color: #242F5D;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
 
  }

  .nav-button:hover {
    background-color: rgb(85, 90, 165);

  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  main {
    background-color: rgb(221, 226, 243);
    max-width: auto;
  }
  .img-container {
    overflow:hidden;
    width: 100%;
    height: 100%;
  }
  main img {
    max-width: 100%;

  }

  main p{
    padding-bottom:20px;
  }
  
  footer {
    background-color: rgb(85, 90, 165);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr; 
    grid-gap: 10px;
  }

  .footer-contactus{
    flex: 1;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .footer-fu{
    flex:2;
    padding: 10px;
    margin: 20px;
  }

  .copyright{
    flex: 3;
    padding: 10px;
  }

/*media querie for desktop*/
@media (min-width: 992px) {
.header-nav-container{
  display:flex;
}

nav { 
  background-color: rgb(55, 55, 139);
}
}

  /* media querie for mobile */
  @media (max-width: 576px) {

}

